<div class="sidebar">
  <div class="navbar">
    <div class="lien">
      <a routerLink="/home">Home</a>
    </div>
    <div class="lien">
      <a routerLink="/contact">Contact</a>
    </div>
    <div class="lien">
      <a routerLink="/bindings">Bindings</a>
    </div>
    <div class="lien">
      <a routerLink="/directives">Directives</a>
    </div>
    <div class="lien">
      <a routerLink="/services">Services</a>
    </div>
    <div class="lien">
      <a routerLink="/juste-prix">Juste prix</a>
    </div>
    <div class="lien">
      <a routerLink="/appel-API">Connection API</a>
    </div>
  </div>
</div>

